<td>{{id}}</td>
<td>{{title}}</td>
<td>{{author}}</td>
<td>{{status}}</td>
<td class="d-flex justify-content-between">
  <button
    (click)="onClickSwitchStatus()"
    class="btn btn-outline-dark me-2">
    Basculer en {{nextStatus | lowercase}}
  </button>
  <div>
    <button
      [routerLink]="['/books', id]"
      class="btn btn-primary me-2">
      DETAILS
    </button>
    <button
      [routerLink]="['/books', id, 'edit']"
      class="btn btn-warning me-2">
      ÉDITER
    </button>
    <button
      (click)="onClickDeleteBook()"
      class="btn btn-danger">
      SUPPR.
    </button>
  </div>
</td>
